html {
    height: 100%;
    width: 100%;
  }
  
  p.normal {
    font-style: normal;
  }
  
  p.italic {
    font-style: italic;
  }
  
  p.oblique {
    font-style: oblique;
  }
  
  p.bold {
    font-weight: bold;
  }